<!--suppress AndroidLintUnusedResources -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="bmoore.encryptext">

    <permission android:name="com.encryptext.CALL_SERVICE"/>

    <uses-permission android:name="com.encryptext.CALL_SERVICE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name="bmoore.encryptext.EncrypText"
        android:icon="@mipmap/ic_stat_notification"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/title_home_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.ConversationActivity"
            android:label="@string/title_conversation_view"
            android:parentActivityName=".ui.HomeActivity"
            android:launchMode="singleTop">

        </activity>

        <activity
            android:name=".ui.KeyRequestsActivity"
            android:label="@string/title_key_exchange_requests"
            android:parentActivityName=".ui.HomeActivity">

        </activity>

        <activity
            android:name=".ui.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".ui.HomeActivity">

        </activity>

        <activity
            android:name=".ui.AboutActivity"
            android:label="About"
            android:parentActivityName=".ui.HomeActivity">

        </activity>

        <service
            android:name=".services.ReceiverSvc"
            android:exported="false">
        </service>

        <service
            android:name=".services.SenderSvc"
            android:exported="false">
        </service>

        <receiver android:name=".receivers.Receiver">
            <intent-filter>
                <action android:name="android.intent.action.DATA_SMS_RECEIVED"/>
                <data
                    android:host="*"
                    android:scheme="sms"
                    android:port="17117"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.SendingStatus">
            <intent-filter>
                <action android:name="com.encryptext.PDU_SENT"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
